@import "colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg-primary-color;
  font-family: 'Roboto', sans-serif;
  color: $light-text-1;
}

#main {
  max-width: 768px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;

  @media screen and (min-width: 520px) and (max-width: 960px) {
    max-width: 500px;
    margin: 0 auto;
  }

  @media screen and (min-width: 961px) {
    margin: 0 auto;
    max-width: 600px;
  }

  header {
    h1 {
      font-size: calc(2em + 1vw);
      text-align: center;
      padding-bottom: 2rem;
    }

    p {
      font-weight: 700;

      span {
        display: block;
        padding: 10px 15px;
        margin-top: 10px;
        background-color: $bg-secondary-color;
        line-height: 1.5;
        font-style: italic;
        font-weight: 300;
        color: $dark-text-1;
        border-radius: 7px;
      }

      strong {
        font-weight: bold;
        color: $light-text-1;
      }

      a {
        color: $secondary-color;
        font-weight: bold;
        letter-spacing: 2px;
      }
    }
  }

  section {
    width: 100%;
    margin-top: 40px;

    @media screen and (min-width: 961px) {
      display: flex;
      flex-direction: column;
    }

    .input-container {
      width: 100%;
      display: flex;
      margin-top: 20px;


      label {
        width: 100%;
        @media screen and (min-width: 520px) {
          width: 100%;
        }
      }

      input {
        padding: 10px 20px;
        border: 1px solid $border-1;
        border-bottom-left-radius: 7px;
        border-top-left-radius: 7px;
        outline-color: $secondary-color;
        width: 100%;
        min-width: 150px;

        @media screen and (min-width: 520px) {
          width: 100%;
        }
      }

      button {
        max-width: 150px;
        min-width: 100px;
        height: 37px;
        border: 1px solid $border-1;
        border-bottom-right-radius: 7px;
        border-top-right-radius: 7px;
        border-left: none;
        outline-color: $secondary-color;
        background-color: $bg-secondary-color;
        color: $light-text-1;
        font-weight: bold;
        letter-spacing: 2px;
        transition: 0.2s all;
        box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);

        &:hover {
          background-color: $secondary-color;
          color: $light-text-1;
        }

        &:active {
          transform: scale(0.85);
          box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
        }
      }

    }

    .palindrome-container {
      width: 100%;
      margin: 30px 0;

      .checked-palindrome {
        color: $secondary-color;
        font-weight: 700;
        padding-right: 10px;
        line-height: 1.3;
        word-break: break-word;
      }

    }
  }
}